h1 {
    text-align: center;
}
.SNG {
 background-color: aqua;   
 text-align: center;
}
.LOK {
    background-color: aquamarine;

height: 150px ;
weight: 150px ;
}
.LUK {
    background-color: azure;
}